/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
html {
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p, span {
  font-weight: 400;
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
  --white: hsl(0, 0%, 100%);
  --gray-200: hsl(270, 3%, 87%);
  --gray-400: hsl(212, 12%, 71%);
  --purple-950: hsl(278, 68%, 11%)
}

main {
  min-height: 100dvh;
  width: 100%;
}

.interactive__card-section {
  display: flex;
  flex-direction: column;
}

.interactive__card-header {
  background-image: url('./images/bg-main-mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 232px;
  max-height: 232px;
  position: relative;
  width: 100%;
}

.preview-card__container {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  max-width: 340px;
  margin: 0 auto;
  position: relative;
}

.preview-card__front-card-wrapper {
  align-self: center;
  color: var(--white);
  font-size: 0.667rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  max-width: 260px;
  margin-inline-start: 1rem;
  position: absolute;
  bottom: -2rem;
  width: 100%;
  z-index: 10;
}

.preview-card__front-card-background {
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow: hidden;
}

.preview-card__front-card-logo {
  grid-column: 1/-1;
  grid-row: 1/2;
  max-width: 60px;
  padding: 1rem 0 0 1rem;
  z-index: 10;
}

.preview-card__front-card-number {
  align-self: flex-end;
  font-size: 0.778rem;
  letter-spacing: 0.15rem;
  grid-column: 1/-1;
  grid-row: 2/3;
  padding: 0 1rem 0;
  z-index: 10;
}

.preview-card__front-card-name {
  align-self: center;
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 0 0 0 1rem;
  text-transform: uppercase;
  z-index: 10;
}

.preview-card__front-card-expiry-date {
  align-self: center;
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: flex-end;
  padding: 0 1rem 0 0;
  z-index: 10;
}

.preview-card__front-card-background {
  width: 100%;
  height: auto;
}

.preview-card__back-card-wrapper {
  align-self: center;
  justify-self: flex-end;
  color: var(--white);
  font-size: 0.667rem;
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  left: 55%;
  max-width: 260px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.preview-card__back-card-background {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.preview-card__back-card-cvc {
  align-self: center;
  grid-column: 4/-1;
  grid-row: 2/3;
  margin-block-end: 3%;
  margin-inline-start: 12%;
}

.preview-card__details-container {
  max-width: 340px;
  margin: 0 auto;
  padding: 4rem 1rem;
  width: 100%;
}

.preview-card__details-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preview-card__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.preview-card__form-row {
  display: flex;
  width: 100%;
}

label, legend {
  font-size: 0.778rem;
  font-weight: 500;
}

.preview-card__form-fieldset {
  border: none;
  display: flex;
  flex: 1 1 0;
  gap: 0.5rem;
  min-width: 0;
  padding: 0;
}

.preview-card__form-fieldset label {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.preview-card__form-fieldset input {
  width: 100%;
}

.preview-card__form-fieldset legend {
  margin-bottom: 0.25rem;
}

.preview-card__form-group--cvc {
  flex: 1 1 0;
  min-width: 0;
}

input[type="text"], input[type="number"] {
  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;
  font-size: 0.778rem;
  font-weight: 500;
  height: 100%;
  padding: 0.75rem 1rem;
}

input[type="text"]::placeholder, input[type="number"]::placeholder {
  color: var(--gray-400);
}

.preview-card__confirm-button {
  background-color: var(--purple-950);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 0.778rem;
  font-weight: 500;
  margin-block-start: 0.75rem;
  padding: 0.75rem 1rem;
}

@media only screen and (min-width: 56.889em) {
  .interactive__card-section {
    flex-direction: row;
  }
  
  .interactive__card-header {
    background-image: url('./images/bg-main-desktop.png');
    flex-basis: 35%;
    height: 100dvh;
    max-height: none;
  }

  .preview-card__container {
    max-width: none;
  }

  .preview-card__front-card-wrapper {
    bottom: 0;
    font-size: 0.778rem;
    max-width: 300px;
    top: -16rem;
    right: -4rem;
    transform: translate(0, 50%);
  }

  .preview-card__front-card-logo {
    max-width: 80px;
  }

  .preview-card__front-card-number {
    font-size: 1rem;
  }

  .preview-card__back-card-wrapper {
    font-size: 0.778rem;
    left: 0;
    max-width: 300px;
    right: -6rem;
    transform: translate(0, 50%);
  }

  .preview-card__details-container {
    align-self: center;
    flex-basis: 65%;
  }
}